<section>	
	<div class="card">
		<div class="flex-container container--grey">
			<div class="two--thirds data-image"><i class="image icon-photos"></i></div>
			<div class="one--third">
				<div class="data-image"><i class="image icon-photos"></i></div>
				<div class="data-image"><i class="image icon-photos"></i></div>
			</div>
		</div>
		<button class="button add-block" data-blocktype="1">add block</button>
	</div>
</section>
