<section>
	<div class="card">
		<div class="flex-container container--grey">
			<div class="third data-image"><i class="image icon-photos"></i></div>
			<div class="third data-image"><i class="image icon-photos"></i></div>
			<div class="third data-image"><i class="image icon-photos"></i></div>
		</div>
		<button class="button add-block" data-blocktype="2">add block</button>
	</div>
</section>
