<section>
	<div class="card columns eight">	
		<h2>Collections</h2>
		<p>You can create custom photo grids for all your collections. Select one to get started.</p>

		<table>
		  <thead>
		    <tr>
		      <th colspan="5">Collection</th>
		    </tr>
		  </thead>
		  <tbody>
		  <% @smart_collections.each do |collection|%>
		      <tr>
		        <td><%= collection.title %></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td><%= link_to 'edit', collection_path(collection, type: 'smart'), class: 'button secondary'%></td>
		      </tr>
		  <% end %> 
		  <% @custom_collections.each do |collection|%>
		      <tr>
		        <td><%= collection.title %></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td><%= link_to 'edit', collection_path(collection, type: 'custom'), class: 'button secondary'%></td>
		      </tr>
		  <% end %>  
		  </tbody>
		</table>
	</div>
</section>


<section>
	<div class="card">
		<div class="flex-container">
			<div class="half"></div>
			<div class="half">
				<div class="quarter"></div>
				<div class="quarter"></div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="card">
		<div class="flex-container">
			<div class="third"></div>
			<div class="third"></div>
			<div class="third"></div>
		</div>
	</div>
</section>
<section>
	<div class="card">
		<div class="flex-container">
			<div class="half"></div>
			<div class="half"></div>
		</div>
	</div>
</section>