<section>
	<div class="card columns eight">
		<h3><%= @collection.title%></h3>
		<div id="grid">
			
		</div>
	</div>
	<div class="card columns four">
		<p>Card</p>
		<button class="button secondary" data-trigger="new-block">Add new row</button>
	</div>
</section>
